  
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: montserrat;
}
/* Configuraçoes do menu */

nav {
	position: fixed;
	top: 0px;
	background: #2a48a8;
	height: 60px;
	width: 100%;
}
label.logo {
	color: white;
	font-size: 35px;
	line-height: 60px;
	padding: 0 25px;
	font-weight: bold;
}
nav ul {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #1d075f;
	top: 60px;
	left: -100%;
	text-align: center;
	transition: .5s;
}

nav ul li {
	display: block;
	line-height: 30px;
	margin: 50px 0px;
}

nav ul li a {
	color: white;
	font-size: 20px;
	padding: 20px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

a:hover{
	background: none;
	color: #3a0fb1;
}
.checkbtn {
	width: 30px;
	float: right;
	margin-top: 14px;
	margin-right: 25px;
	cursor: pointer;
	display: block;
}
#check{
    display: none;
}
#check:checked ~ ul {
	left: 0;
}
/* configuraçoes da seçao abaixo do menu */
#textI{

	background-image: url('imagens/fundo-escuro2-768.jpeg');
	background-repeat: no-repeat;
	color: white;
	width: 100%;
	padding-left: 15px;
	padding-top: 25px;
	margin-top: 60px;
	padding-bottom: 15px;
}


#textI h1{
	font-family: 'Lobster' , cursive;
	color:white;
	margin-bottom: 7px;
	font-size: 30px;
}

/* aba de Contatos*/
#contats{
	background-color: #040f0f;
	display: flex;
	flex-direction: column;
}
#contats a{
	color: white;
	margin-left: 0;	
	padding: 6px 20px;
	text-decoration: none;
	text-align: center;
}

#contats a:hover{
	background-color: white;
	color: black;
}
/*Divisao Para responsividade desktop*/
#row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
#side{
	background-color: #f1f1f1;
	padding-bottom: 15px;
}

#sobre {
	margin-bottom: 20px;
}

/* Css do site indicado pela classe .textos*/
.textos h1{
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
	color: #00afb9;
	font-family: 'Lobster' , cursive;
	font-size: 35px;
}


.textos p{
	padding-left: 20px;
	font-family: 'Asap', sans-serif;
}
.textos ul{
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.textos ol{
	margin-left: 15px;
	margin-bottom: 10px;
}

/* Mudança na lista do seçao projetos*/
#Projetos ul li{
	list-style-type: circle;
	margin-left: 30px;
}

/* Ediçao da imagem unesp*/ 
#imgUnesp{
	width: 100%;
	padding: 10px;
}

/*edição da seçao de ferramentas */
#ferramentas{
	padding-bottom: 10px;
}
#imagensF{
	margin-left: 20px;

}
/*ediçao dos links*/

a{
	color: #2a48a8;
	font-weight: bolder;
}
#logoLink{
	color: white;
}

/*Rodape */
.footer{
	background: #ddd;
	text-align: center;
	padding: 10px;
}

/*Adapatando site para tamanho desktop*/

@media screen and (min-width: 768px){

	#textI{
		background-image: url('imagens/fundo-escuro2-1200.jpeg');
		background-size: cover;
	}
	/*adapta formato do site para desktop */

	#row, #contats{
		flex-direction: row;
	}

	#side{
		flex: 50%;
		background-color: #f1f1f1;
		padding: 20px;
	}
	#main{
		flex: 50%;
		background-color: white;
		padding: 20px;
	}
	/* adapta menu para desktop */
	label.logo{
		font-size: 40px;
		padding-left: 15px;
	}

	nav ul {
		position: unset;
		width: unset;
		height: unset;
		background: unset;
		text-align: unset;
		transition: unset;
		float: right;
		margin-right: 14px;
	}
	nav ul li {
		display: inline-block;
		line-height: 60px;
		margin: 0px -1px;
	}
	nav ul li a {
		font-size: 16px;
	}
	a:hover{
		background: #1d075f;
		color: white;
	}
	.checkbtn{
		display: none;
	}
	#imgUnesp{
		padding: unset;
	}
}


